* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  font-size: clamp(1rem, 1.2vmax, 1.2rem);
}

html,
body {
  height: 100%;
}

body {
  --accent-color: #3d5afe;
  --secondary-color: #ffac2e;
  --text-color: 20, 20, 20;
  --foreground-color: 252, 253, 255;
  --background-color: 241, 243, 248;
  --danger-color: rgb(255, 75, 75);
  --green: #1cad59;
  --yellow: rgb(220, 165, 0);
  color: rgba(var(--text-color), 1);
  background-color: rgba(var(--background-color), 1);
  overflow-y: hidden;
}

body[data-theme="dark"] {
  --accent-color: #6d83ff;
  --secondary-color: #d60739;
  --text-color: 220, 220, 220;
  --foreground-color: 27, 28, 29;
  --background-color: 21, 22, 22;
  --danger-color: rgb(255, 106, 106);
  --green: #00e676;
  --yellow: rgb(255, 213, 5);
  ::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
}

p,
strong {
  font-size: 0.9rem;
  max-width: 65ch;
  line-height: 1.7;
  color: rgba(var(--text-color), 0.9);
}

img {
  object-fit: cover;
}

a:where([class]) {
  color: inherit;
  text-decoration: none;

  &:focus-visible {
    box-shadow: 0 0 0 0.1rem rgba(var(--text-color), 1) inset;
  }
}
a {
  color: var(--accent-color);
}

a:any-link:focus-visible {
  outline: rgba(var(--text-color), 1) 0.1rem solid;
}
a.button {
  padding: 0.4rem 0.6rem;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: inherit;
}

button,
.button {
  user-select: none;
  position: relative;
  display: inline-flex;
  border: none;
  background-color: transparent;
  overflow: hidden;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
  white-space: nowrap;
  padding: 0.8rem;
  border-radius: 0.3rem;
  justify-content: center;

  &:focus-visible {
    outline: var(--accent-color) solid medium;
  }

  &:not(:disabled) {
    cursor: pointer;
  }
}

.button {
  background-color: rgba(var(--text-color), 0.1);

  &--primary,
  &--danger {
    color: rgba(var(--background-color), 1) !important;

    .icon {
      fill: rgba(var(--background-color), 1);
    }
  }

  &--primary {
    text-transform: capitalize;
    background-color: var(--accent-color);
  }

  &--danger {
    background-color: var(--danger-color);
  }

  &--small {
    padding: 0.4rem 0.6rem;
  }

  &--outlined {
    border: solid rgba(var(--text-color), 0.5) 0.1rem;
    background-color: rgba(var(--foreground-color), 1);
  }
  &--transparent {
    background-color: transparent;
  }
}

.cta {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  padding: 0.8rem 1rem;
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
  fill: rgba(var(--text-color), 0.8);
  flex-shrink: 0;
}

.icon-only {
  padding: 0.5rem;
  border-radius: 0.3rem;
  aspect-ratio: 1/1;
}

button:disabled {
  opacity: 0.5;
}

a:any-link:focus-visible {
  outline: rgba(var(--text-color), 1) 0.1rem solid;
}

details summary {
  display: flex;
  user-select: none;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  color: var(--accent-color);
}

details[open] {
  & summary {
    margin-bottom: 1rem;
  }

  & > summary .down-arrow {
    transform: rotate(180deg);
  }
}

fieldset {
  border: none;
}

input {
  accent-color: var(--accent-color);

  &[type="range"] {
    &:active {
      cursor: grab;
    }
  }
}

sm-copy {
  font-size: 0.9rem;
}

sm-input,
sm-textarea {
  font-size: 0.9rem;
  --border-radius: 0.5rem;
  --background-color: rgba(var(--foreground-color), 1);

  button {
    .icon {
      fill: var(--accent-color);
    }
  }
}

sm-textarea {
  --max-height: 32ch;
}

sm-button {
  --padding: 0.8rem;

  &[variant="primary"] {
    .icon {
      fill: rgba(var(--background-color), 1);
    }
  }

  &[disabled] {
    .icon {
      fill: rgba(var(--text-color), 0.6);
    }
  }

  &.danger {
    --background: var(--danger-color);
    color: rgba(var(--background-color), 1);
  }
}

sm-spinner {
  --size: 1.5rem;
  --stroke-width: 0.1rem;
}

sm-form {
  --gap: 1rem;
}

sm-select {
  --padding: 0.8rem;
  font-size: 0.9rem;
  --min-width: 8rem;
  --border-radius: 0.5rem;
}

sm-option {
  font-size: 0.9rem;
  --border-radius: 0.3rem;
}

strip-select {
  --gap: 0;
  background-color: rgba(var(--text-color), 0.06);
  border-radius: 0.3rem;
  padding: 0.3rem;
}

strip-option {
  position: relative;
  font-size: 0.8rem;
  --border-radius: 0.2rem;
  user-select: none;
}

sm-button {
  --border-radius: 0.3rem;

  &[variant="primary"] {
    .icon {
      fill: rgba(var(--background-color), 1);
    }
  }

  &[disabled] {
    .icon {
      fill: rgba(var(--text-color), 0.6);
    }
  }
}
sm-select {
  &[open] {
    z-index: 10;
  }
}

ul {
  list-style: none;
}

.overflow-ellipsis {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wrap-around {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

.full-bleed {
  grid-column: 1/-1;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.sticky {
  position: sticky;
}

.top-0 {
  top: 0;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.grid {
  display: grid;
}

.flow-column {
  grid-auto-flow: column;
}

.gap-0-3 {
  gap: 0.3rem;
}

.gap-0-5 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-1-5 {
  gap: 1.5rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.text-align-right {
  text-align: right;
}
.text-align-left {
  text-align: left;
}

.align-items-start {
  align-items: flex-start;
}
.align-content-start {
  align-content: flex-start;
}

.align-start {
  align-content: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.text-center {
  text-align: center;
}

.justify-start {
  justify-items: start;
}
.justify-content-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-right {
  margin-left: auto;
}

.align-self-start {
  align-self: start;
}
.align-self-center {
  align-self: center;
}

.align-self-end {
  align-self: end;
}

.justify-self-center {
  justify-self: center;
}

.justify-self-start {
  justify-self: start;
}

.justify-self-end {
  justify-self: end;
}

.flex-direction-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.margin-right-0-3 {
  margin-right: 0.3rem;
}
.margin-right-0-5 {
  margin-right: 0.5rem;
}

.margin-left-0-5 {
  margin-left: 0.5rem;
}

.margin-left-auto {
  margin-left: auto;
}
.margin-right-auto {
  margin-right: auto;
}
.margin-top-1 {
  margin-top: 1rem;
}
.margin-bottom-0-5 {
  margin-bottom: 0.5rem;
}
.margin-bottom-1 {
  margin-bottom: 1rem;
}
.margin-bottom-2 {
  margin-bottom: 2rem;
}

.margin-block-0-5 {
  margin-block: 0.5rem;
}
.margin-block-1 {
  margin-block: 1rem;
}

.margin-block-1-5 {
  margin-block: 1.5rem;
}

.margin-inline-1 {
  margin-inline: 1rem;
}

.margin-inline-1-5 {
  margin-inline: 1.5rem;
}

.hidden {
  display: none !important;
}

.no-transformations {
  transform: none !important;
}

.full-bleed {
  grid-column: 1/4;
}

.h1 {
  font-size: 2.5rem;
}

.h2 {
  font-size: 2rem;
}

.h3 {
  font-size: 1.4rem;
}

.h4 {
  font-size: 1rem;
}

.h5 {
  font-size: 0.8rem;
}

.grid-3 {
  grid-template-columns: 1fr auto auto;
}

.flow-column {
  grid-auto-flow: column;
}
.w-100 {
  width: 100%;
}

.color-0-8 {
  color: rgba(var(--text-color), 0.8);
}

.weight-400 {
  font-weight: 400;
}

.weight-500 {
  font-weight: 500;
}

.card {
  background-color: rgba(var(--text-color), 0.06);
  border-radius: 0.5rem;
  padding: max(1rem, 3vw);
}

.ripple {
  height: 8rem;
  width: 8rem;
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  background: radial-gradient(
    circle,
    rgba(var(--text-color), 0.3) 0%,
    rgba(0, 0, 0, 0) 50%
  );
  pointer-events: none;
}
.interactive {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.observe-empty-state:empty {
  display: none;
}

.observe-empty-state:not(:empty) ~ .empty-state {
  display: none;
}

.button__icon {
  height: 1.2rem;
  width: 1.2rem;

  &--left {
    margin-right: 0.5rem;
  }

  &--right {
    margin-left: 0.5rem;
  }
}

[data-editable] {
  transition: padding 0.2s;
  &:focus-within {
    padding: 0.5em;
    border-radius: 0.3rem;
    outline: none;
    background-color: rgba(var(--text-color), 0.06);
    box-shadow: 0 0 0 0.1rem var(--accent-color) inset;
  }
}
.multi-state-button {
  display: grid;
  text-align: center;
  align-items: center;

  & > * {
    grid-area: 1/1/2/2;
  }

  button {
    z-index: 1;
  }
}

#confirmation_popup,
#prompt_popup {
  flex-direction: column;

  h4 {
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  sm-button {
    margin: 0;
  }

  .flex {
    padding: 0;
    margin-top: 1rem;

    sm-button:first-of-type {
      margin-right: 0.6rem;
      margin-left: auto;
    }
  }
}

.popup__header {
  display: grid;
  gap: 0.5rem;
  width: 100%;
  padding: 0 1.5rem 0 0.5rem;
  align-items: center;
  grid-template-columns: auto 1fr auto;
}

.popup__header__close {
  padding: 0.5rem;
  cursor: pointer;
}

#sign_in_page {
  background: url(sign-in-bg.svg) no-repeat center,
    linear-gradient(
      rgba(var(--text-color), 0.04),
      rgba(var(--text-color), 0.04)
    ),
    linear-gradient(
      rgba(var(--foreground-color), 1),
      rgba(var(--foreground-color), 1)
    );
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
  align-items: center;
  padding: 0 6vw;
  .info {
    h1 {
      font-weight: 800;
      font-size: clamp(1.5rem, 8vw, 4rem);
    }
    h4 {
      font-weight: 500;

      opacity: 0.8;
    }
  }
  .sign-in-box {
    width: calc(100vw - 4rem);
    z-index: 1;
    sm-input {
      text-align: left;
    }
    h2 {
      margin-bottom: 0.5rem;
    }
    h3 {
      font-weight: 500;
    }
    h4 {
      font-weight: 500;
      margin-bottom: 1.5rem;
    }
    h5 {
      opacity: 0.8;
      font-weight: 500;
    }
    p {
      margin-bottom: 0.5rem;
      max-width: 35ch;
      margin-top: 0.5rem;
      margin-bottom: 1.5rem;
    }
    #credentials_section {
      border-top: 1px rgba(var(--text-color), 0.2) solid;
      margin-top: 1rem;
      padding-top: 1.5rem;
      animation: slide-down 0.3s forwards;
    }
  }
}
@keyframes slide-down {
  from {
    transform: translateY(-1rem);
  }
  to {
    transform: none;
  }
}

#main_loader {
  text-align: center;
  place-content: center;
  justify-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  gap: 1rem;
  sm-button {
    margin-left: 0;
    margin-top: 1rem;
    width: max-content;
    justify-self: center;
  }

  h3 {
    width: 100%;
    font-weight: 400;
    word-spacing: 0.16em;
  }
}

#main_header {
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  box-shadow: 0 0.1rem 0.2rem #00000010;
  background: rgba(var(--foreground-color), 1);
  grid-template-columns: 1fr auto;
  h5 {
    font-weight: 500;

    opacity: 0.8;
  }
  h4 {
    font-size: 1.2rem;
  }
}
#user_profile_button {
  background-color: rgba(var(--text-color), 0.06);
  border-radius: 2rem;
  font-size: 0.8rem;
  padding: 0.6rem 0.8rem;
}
#home_page {
  padding: 1rem;
}
.section-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--dark-shade);
  margin-bottom: 1rem;
  h4 {
    font-size: 1.2rem;
    opacity: 0.8;
    font-weight: 500;
  }
}

#main_section {
  & > header {
    sm-input {
      margin-left: 1rem;
    }
  }
}

#user_icon {
  width: 2.4rem;
  height: 2.4rem;
  padding: 0.6rem;
  border-radius: 2rem;
}

#sheets_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 0.5rem;
  margin-bottom: 3rem;
  animation: slide-up 0.6s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes slide-up {
  from {
    transform: translateY(2rem);
  }
  to {
    transform: none;
  }
}

#add_new_sheet {
  .sheet-card__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: url(card-bg1.svg), #a7003e;
    background-size: cover;
  }
  .icon {
    fill: rgba(var(--foreground-color), 1);
  }
}

.sheet-card {
  position: relative;
  display: grid;
  color: inherit;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 0.8rem;
  background-color: rgba(var(--foreground-color), 1);
  padding: 1rem;
  border-radius: 0.5rem;
  transition: 0.2s;
  border: solid thin rgba(var(--text-color), 0.1);
  &__icon {
    display: flex;
    padding: 0.6rem;
    border-radius: 2rem;
    background: rgba(var(--text-color), 0.06);
  }
  h4 {
    font-size: 0.9rem;
    font-weight: 500;
  }
  &__type {
    font-size: 0.8rem;
    background: rgba(var(--text-color), 0.1);
    padding: 0.3rem 0.6rem;
    border-radius: 1rem;
  }
}

#sheet_view {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  &.toggle-side-bar #side_bar {
    transition: transform 0.3s;
    z-index: 10;
    transform: none;
  }
}
#sheet_heading {
  font-weight: 600;
  opacity: 0.9;
}
#sheet_type {
  padding: 0.3rem 0.6rem;
  border-radius: 0.3rem;
  margin: 0 1rem;
  font-weight: 500;
  opacity: 0.8;
  background: rgba(var(--text-color), 0.1);
}
#sheet_description {
  margin-top: 0.5rem;
  opacity: 0.8;
}
#sheet_editors {
  gap: 0.5rem;
  color: rgba(var(--text-color), 0.7);
  font-size: 0.9rem;
  .editor {
    padding: 0.4rem 0.6rem;
    border-radius: 0.4rem;
    background: rgba(var(--text-color), 0.06);
  }
}
#go_to_home {
  height: 2.4rem;
  width: 2.4rem;
  padding: 0.7rem;
  cursor: pointer;
}
#go_to_home,
#go_to_home + h5 {
  transform: translateX(-1rem);
  cursor: pointer;
}
#go_to_home + h5 {
  font-weight: 500;
  opacity: 0.9;
}
#toggle_details {
  transform: rotateX(180deg);
  padding: 0.4rem;
  background-color: rgba(var(--text-color), 0.1);
}
#sheet_details {
  padding: 1rem;
  .flex:nth-of-type(2) {
    padding: 0.5rem 0;
    button:first-of-type {
      margin-left: -0.7rem;
    }
  }
  &.collapse {
    padding: 0.5rem 1rem;
    #toggle_details {
      transform: none;
    }
    #sheet_heading {
      font-size: 1.2rem;
      font-weight: 600;
      opacity: 0.9;
    }
    #sheet_description,
    #sheet_editors,
    #sheet_type {
      display: none;
    }
  }
}
#sheet_container {
  position: relative;
  overflow: auto;
  max-height: 100%;
  bottom: 0;
  max-width: 100%;
}
table {
  border-collapse: collapse;
  position: relative;
  width: 100%;
  input {
    position: relative;
    padding: 0.4rem;
    border: thin solid rgba(var(--text-color), 0.3);
    font-size: 1rem;
    width: 100%;
    border-radius: 0.3rem;
    background: rgba(var(--text-color), 0.06);
    color: inherit;
    &:disabled {
      border: transparent;
    }
  }
}
th {
  position: sticky;
  top: 0;
  background: linear-gradient(
      rgba(var(--text-color), 0.06),
      rgba(var(--text-color), 0.06)
    ),
    rgba(var(--foreground-color), 1);
  text-align: left;
  line-height: 1;
  vertical-align: middle;
  font-weight: 500;
  z-index: 1;
  padding: 1rem 0.8rem;
  white-space: nowrap;
  cursor: pointer;
}
tr {
  &:nth-of-type(2n) {
    background-color: rgba(var(--text-color), 0.04);
  }
}
td {
  padding: 0.4rem 0.8rem;
  opacity: 0.9;
  &:nth-of-type(n + 3) {
    min-width: 12em;
  }
}
.text-field {
  min-width: 20ch;
  max-width: 30ch;
}
.grade-input {
  width: 10ch;
}
th.descending::after,
th.ascending::after {
  display: inline-flex;
  justify-self: flex-end;
  position: relative;
  margin-left: auto;
  font-size: 0.8rem;
}
th.descending::after {
  content: " \25BC";
}
th.ascending::after {
  content: " \25B2";
}

#group_by {
  &::part(popup) {
    min-height: 80vh;
  }
  sm-select:last-of-type {
    margin-left: 0.5rem;
  }
  th,
  td {
    padding: 1rem;
  }
}

#side_bar {
  position: fixed;
  transform: translateX(-100%);
  background: rgba(var(--background-color), 1);
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  & > .flex:first-of-type {
    padding: 0.5rem 1rem;
  }
  .section-header {
    margin-bottom: 0;
    background: inherit;
  }
}
#right {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 100vh;
  background: rgba(var(--foreground-color), 1);
  animation: slide-right 0.6s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes slide-right {
  from {
    transform: translateX(-2rem);
  }
  to {
    transform: translateX(0);
  }
}

.placeholder {
  animation: placeholder-loading 0.6s infinite alternate;
  padding: 1.5rem 0;
  width: 100%;
  margin: 1.5rem;
  border-radius: 0.5rem;
  background: rgba(var(--text-color), 0.06);
  &#sheet_container {
    width: calc(100% - 3rem);
    height: calc(100% - 3rem);
  }
}

@keyframes placeholder-loading {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

#people_container {
  overflow: auto;
  max-height: calc(100vh - 3.6rem);
  gap: 1.5rem;
}

.person-card {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  grid-template-areas: "initials ." "initials .";
  cursor: pointer;
  padding: 0 1rem;
  transition: transform 0.3s;
  -webkit-tap-highlight-color: transparent;
  &:first-of-type {
    margin-top: 1.5rem;
  }
  &:last-of-type {
    margin-bottom: 2rem;
  }
}
.person-initials {
  grid-area: initials;
  display: flex;
  justify-content: center;
  height: 2.6rem;
  width: 2.6rem;
  font-size: 1.2rem !important;
  font-weight: 500;
  align-items: center;
  border-radius: 2rem;
  margin-right: 1rem;
  text-transform: uppercase;
  opacity: 1 !important;
  color: var(--accent-color);
  background: rgba(var(--text-color), 0.06);
}
.person-name {
  font-size: 0.9rem;
  opacity: 0.9;
  font-weight: 500;
  text-transform: capitalize;
}
.person-flo-id {
  opacity: 0.7;
  font-weight: 400;
}

#profile_popup {
  section:not(:last-of-type) {
    margin-bottom: 1.5rem;
  }
}
#editors_container,
#columns_container,
#additional_fields {
  gap: 0.4rem;
}
#specify_editors {
  border-top: solid 1px rgba(var(--text-color), 0.2);
  padding-top: 1rem;
}
#add_editor,
#add_column,
#add_detail {
  sm-input {
    width: 100%;
  }
}
#add_detail {
  gap: 0.2rem;
  grid-template-columns: 1fr auto;
  grid-template-areas: ". add" ". add";
  button {
    grid-area: add;
    align-self: flex-end;
  }
}
.editor-card,
.column-card,
.details-card {
  border-radius: 0.3rem;
  background: rgba(var(--text-color), 0.06);
  .editor-address {
    font-size: 0.9rem;
    font-weight: 400;
    opacity: 0.8;
  }
}
.editor-card {
  padding: 0.4rem 0.8rem;
}
.column-card {
  padding: 0.4rem 0.6rem;
  h5 {
    font-weight: 500;
  }
  .icon {
    margin-left: 0.4rem;
  }
}
.details-card {
  gap: 0.2rem;
  padding: 0.6rem 0.8rem;
  grid-template-columns: 1fr auto;
  grid-template-areas: ". close" ". close";
  h4,
  h5 {
    margin: 0 !important;
  }
  h5 {
    font-weight: 400;
    opacity: 0.8;
  }
  h4 {
    font-size: 1rem !important;
  }
  button {
    grid-area: close;
  }
}

#save_button {
  position: fixed;
  overflow: hidden;
  bottom: 0;
  left: 0;
  right: 0;
  width: min(calc(100% - 2rem), 24rem);
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  border: solid thin rgba(var(--text-color), 0.1);
  background: rgba(var(--foreground-color), 1);
  z-index: 20;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.16);
  #changes_indicator {
    position: absolute;
    left: 0;
    width: 0.3rem;
    border-radius: 0 0.5rem 0.5rem 0;
    height: 2em;
    background: red;
  }
  sm-button {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 640px) {
  #group_by_view {
    overflow: auto;
    max-width: calc(100vw - 3rem);
  }
  #user_profile_button {
    grid-area: 1/1/2/2;
  }
  theme-toggle {
    grid-area: 1/2/2/3;
  }
  .hide-on-mobile {
    display: none;
  }
}
@media screen and (min-width: 640px) {
  .hide-on-desktop {
    display: none;
  }
  sm-popup {
    --width: 24rem;
  }
  .popup__header {
    padding: 1.5rem 1.5rem 0 0.75rem;
  }
  #sign_in_page {
    grid-auto-flow: column;
    .sign-in-box {
      width: 26rem;
      padding: 2rem;
      min-height: 80vh;
      min-width: 26rem;
      border-radius: 0.5rem;
      box-shadow: 0 0 0.3rem #00000016, 0 6rem 2rem -2rem #00000016;
      background: rgba(var(--foreground-color), 1);
    }
  }
  #main_header {
    grid-template-columns: 1fr auto auto;
    padding: 1.2rem 3rem;
  }
  #home_page {
    grid-template-columns: 1fr 80vw 1fr;
    grid-template-areas: ". main .";
  }
  #main_section {
    grid-area: main;
  }
  #sheet_view {
    &.toggle-side-bar {
      grid-template-columns: 19rem 1fr;
      #side_bar {
        z-index: initial;
      }
    }
    &:not(.toggle-side-bar) #side_bar {
      grid-template-columns: 1fr;
      position: fixed;
      transform: translateX(-100%);
    }
  }
  #side_bar {
    position: relative;
    transform: none;
  }
  #group_by {
    &::part(popup) {
      width: 80vw;
    }
  }
  #save_button {
    margin: 1rem auto;
  }
}
@media screen and (min-width: 1920px) {
  #home_page {
    grid-template-columns: 1fr 60vw 1fr;
    grid-template-areas: ". main .";
  }
}
@media (any-hover: hover) {
  :root {
    scrollbar-width: thin;
  }
  ::-webkit-scrollbar {
    width: 0.7rem;
    height: 0.7rem;
  }

  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(var(--text-color), 0.2);
    &:hover {
      background: rgba(var(--text-color), 0.4);
    }
  }
  #people_container::-webkit-scrollbar {
    width: 0.4rem;
  }
  #right {
    z-index: 1;
    box-shadow: -0.5rem 0 0.5rem #00000010;
  }
  .sheet-card {
    &:hover {
      transform: scale(1.02);
      box-shadow: 0 0.5rem 1rem rgba(0 0 0 /0.1);
      z-index: 1;
    }
  }
}
.hidden {
  display: none;
}
